<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/098c76c2-7158-468b-9672-f34961ebe0a9/resourceGroups/VBD_Labs_RG/providers/Microsoft.Web/sites/RESTAPI-v2</ResourceId>
    <ResourceGroup>VBD_Labs_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://restapi-v2.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://restapi-v2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$RESTAPI-v2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>